{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block title %}{{ plant.title }} - Herbariet{% endblock %}

{% block content %}
{% if plant.image %}
  <div id="hero" style="background-image: url('{{ plant.image.url }}');"></div>
{% endif %}

<div id="main">
  <div id="content">

    {% if plant.name %}
      <h1>{{ plant.name }}</h1>
    {% endif %}

    {{ plant.description|richtext }}

    {% if plant.links.all %}
      <div id="linkgroup">
        {% for link in plant.links.all %}
          <a class="site-link" href="{{ link.url }}" target="_blank" rel="noopener">
            {{ link.link_text }}
          </a><br>
        {% endfor %}
      </div>
    {% endif %}

  </div>
</div>
{% endblock %}