{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block title %}{{ plant.title }} - Herbariet{% endblock %}

{% block content %}
{% if plant.banner_image %}
<div id="hero" style="background-image: url('{{ plant.banner_image.url }}');"></div>
{% endif %}

<div id="main">
  <div id="content">

    {% if plant.name %}
    <h1>{{ plant.name }}</h1>
    {% endif %}

    {{ plant.description|richtext }}

    {% if plant.single_image %}
    <figure class="plant-image-block">
      <img class="plant-image" src="{{ plant.single_image.url }}" alt="{{ plant.name }} image">
      {% if plant.image_caption %}
      <figcaption class="plant-image-caption">{{ plant.image_caption }}</figcaption>
      {% endif %}
    </figure>
    {% endif %}

    {% if plant.links.all %}
    <div id="linkgroup">
      {% for link in plant.links.all %}
      <a class="site-link" href="{{ link.url }}" target="_blank" rel="noopener">
        {{ link.link_text }}
      </a>
      {% endfor %}
    </div>
    {% endif %}

  </div>
</div>
{% endblock %}
