@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('../fonts/barlow-condensed/barlow-condensed-v13-latin-200.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/barlow-condensed/barlow-condensed-v13-latin-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/barlow-condensed/barlow-condensed-v13-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/static/fonts/playfair-display/playfair-display-v40-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/static/fonts/playfair-display/playfair-display-v40-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 300;
  src: url('/static/fonts/cormorant-garamond/cormorant-garamond-v21-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Hypatia';
  font-style: normal;
  font-weight: 100;
  src: url('/static/fonts/hypatia/hypatia-sans-pro-extralight.woff2') format('woff2');
}

body {
  background-color: rgb(225, 222, 210);
  margin: 0px;
  padding: 0px;
  font-family: 'Barlow Condensed', sans-serif !important;
  height: 100% !important;
  min-height: 100% !important;
  width: 100% !important;
}

#hero {
  position: absolute;
  width: 100%;
  height: 50vh;
  background-position: 50%;
  background-size: cover;
}

#main {
  position: relative;
  top: calc(0);
  background-color: rgb(225, 222, 210);
  background: linear-gradient(180deg, rgba(225, 222, 210, 0) 0%, rgba(225, 222, 210, 0.3) 30vh, rgba(225, 222, 210, 1) 48vh, rgba(225, 222, 210, 1) 99%);
}

#content {
  position: relative;
  height: 100%;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-top: calc(45vh);
}

#linkgroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.plant-image-block {
  width: 100%;
  padding: 10px 0;
  margin: 20px 0;
}

.plant-image {
  display: block;
  width: 100%;
  height: auto;
  max-height: 70vh;
  object-fit: contain;
}

.plant-image-caption {
  margin-top: 8px;
  font-size: 1.2em;
  font-weight: 200;
  font-family: 'Barlow Condensed', sans-serif;
  color: rgb(69, 58, 36, 0.7);
}

h2 {
  font-size: 2.2em;
  line-height: 0.9;
  padding: 0;
  margin: 0;
  width: 80%;
  letter-spacing: 0px;
  color: rgb(69, 58, 36);
  font-family: 'Hypatia', sans-serif;
}

h1 {
  text-transform: uppercase;
  font-size: 3.2em;
  font-weight: 600 !important;
  line-height: 0.9;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  width: 80%;
  letter-spacing: 2px;
  color: rgb(50, 50, 50);
  font-family: 'Hypatia', sans-serif;
}

p {
  font-size: 1.4em;
  font-weight: 200;
}

.site-link {
  font-family: 'Barlow condensed', sans-serif;
  letter-spacing: -1px;
  background: url("https://data.dh.gu.se/ui-icons/arrow_link_black_circle.png");
  background-size: 30px;
  background-position: 0 7px;
  background-repeat: no-repeat;
  padding-left: 40px;
  font-size: 33px;
  font-weight: 200;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

*:focus {
  outline: none !important;
}

@media (min-width: 1200px) {
  .plant-image-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .plant-image {
    max-width: 65%;
    width: auto;
    margin: 0;
  }

  .plant-image-caption {
    max-width: 50%;
  }
}
